@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Open+Sans&display=swap');

.card {
    margin:auto;
    border-radius: 25px !important;
    border: solid 1px rgb(202, 202, 202);
}
  
@keyframes faded {
  0% {opacity: 0%;}
  100% {opacity: 100%;} 
}

.pro-layoutDiv {
    padding: 10px;
    animation-name: faded;
    animation-duration: 3s;
}
  
.projects-div {
    background: url(https://img.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg?size=626&ext=jpg);
    min-height: 100%;
}

.header {
    font-size: 300%;
    font-family: "Anton";
    text-align: center;
    padding: 20px;
    color: #0f5edb;
    text-shadow: 2px 2px 4px #000000;
}

.pro-header {
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;
    padding: 5px;
}

.pro-header h2 {
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;
    padding: 10px;
    font-size: 54px;
    font-weight: bold;
    margin: 0px !important;
}

.pro-span {
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(146, 2, 172, 0.4);
    background-color: #ee8eff;
    border-radius: 30px;
    padding-bottom: 0;
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    top: 0;
}

.card-text {
    font-family: 'Baloo Tammudu 2', cursive !important;
    font-size: 110% !important;
}

.pro-wrapper {
  display: inline-flex;
}

.pro-wrapper .pro-icon {
  position: relative;
  background-color: rgb(246, 199, 255) !important;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(247, 0, 255, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pro-wrapper .pro-tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pro-wrapper .pro-tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pro-wrapper .pro-icon:hover .pro-tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.pro-wrapper .pro-icon:hover span,
.pro-wrapper .pro-icon:hover .pro-tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.pro-wrapper .pro-globe:hover,
.pro-wrapper .pro-globe:hover .pro-tooltip,
.pro-wrapper .pro-globe:hover .pro-tooltip::before {
  background-color: #1857df;
  color: #ffffff;
}

.pro-wrapper .pro-github:hover,
.pro-wrapper .pro-github:hover .pro-tooltip,
.pro-wrapper .pro-github:hover .pro-tooltip::before {
  background-color: #000000;
  color: #ffffff;
}

.pro-small-tag {
  text-decoration: none !important;
  color: #1857df;
}


@media screen and (max-width: 720px){
    
    .card {
      width: 80%;
      align-content: center;
      margin-top: 10px;
    }

    .pro-wrapper {
      display: none;
    }
  
}
  
@media screen and (min-width: 721px){
    
    .card {
      min-width: 400px;
      align-content: center;
      margin-bottom: 20px;
    }
  
    .projects-grid {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .pro-small-anc {
      display: none;
    }
  
    @import url('https://fonts.googleapis.com/css?family=Exo:400,700');
    
}