/*App.js*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Open+Sans&display=swap');

.header-color {
    background: #cc00ff;  
    background: -webkit-linear-gradient(to right, #d900ff, #cc00ff);  
    background: linear-gradient(to right, #d900ff, #cc00ff); 
  /*
  background: #56CCF2;  
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
  background: linear-gradient(to right, #2F80ED, #56CCF2); 
  */
  /*margin-bottom: 3px;*/
}

.link {
  color: #ffffff !important;
  font-weight: bold !important;
  font-family: 'Baloo Tammudu 2' !important;
  font-size: 155% !important;
  padding-top: 5px !important;
  opacity: 100% !important;
  color: #ffffff !important;
  text-shadow: 1px 1px #000000 !important;
}

.active {
  /*color: white !important;
  text-shadow: 1px 1px #000000 !important;*/
  text-shadow: 1px 1px #ffa7da !important;
  color: #5c0758 !important;
  border-bottom: 5px solid #8a0083;
}

.link:hover {
  text-shadow: 1px 1px #ffa7da !important;
  color: #5c0758 !important;
}


@media screen and (max-width: 720px){
  .mdl-layout__drawer-button {
    background-color: #d900ff;
    border-radius: 100%;
  }
}

@media screen and (min-width: 721px){
  
}